::ng-deep .cyan material-radio.themeable:not(.disabled) .icon-container.checked .icon,
::ng-deep .cyan material-radio.themeable:not(.disabled) .icon-container.checked .ripple {
  color: #00bcd4;
}

::ng-deep .pink material-radio.themeable:not(.disabled) .icon-container.checked .icon,
::ng-deep .pink material-radio.themeable:not(.disabled) .icon-container.checked .ripple {
  color: #e91e63;
}

::ng-deep .yellow material-radio.themeable:not(.disabled) .icon-container.checked .icon,
::ng-deep .yellow material-radio.themeable:not(.disabled) .icon-container.checked .ripple {
  color: #ffeb3b;
}

.radio-per-line {
  display: flex;
}

.positioned-radio-group {
  display: flex;
}
.positioned-radio-group .divider {
  border: 0;
  border-top: 1px solid #bdbdbd;
  margin: 1em 0;
}
.positioned-radio-group material-radio.top {
  align-items: flex-start;
}
.positioned-radio-group material-radio.middle {
  align-items: center;
}
.positioned-radio-group material-radio.bottom {
  align-items: flex-end;
}
.positioned-radio-group .custom-size {
  background-color: #9e9e9e;
  display: inline-block;
  height: 30px;
  width: 30px;
}
