material-input.red ::ng-deep .top-section > .input-container > .label > .label-text {
  color: #db4437;
}
material-input.blue ::ng-deep .top-section > .input-container > .label > .label-text {
  color: #4285f4;
}

.grey-glyph ::ng-deep .glyph {
  color: #bdbdbd;
}

.disabled-black ::ng-deep .disabledInput {
  color: #000;
}
