material-toggle {
  padding: 8px;
  width: 320px;
}

.cyan ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #00bcd4;
}
.cyan ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #00bcd4;
}

.pink ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #e91e63;
}
.pink ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #e91e63;
}

.yellow ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #ffeb3b;
}
.yellow ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #ffeb3b;
}

.custom-theme ::ng-deep material-toggle.themeable .material-toggle .tgl-btn {
  background-color: #cddc39;
}
.custom-theme ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #8bc34a;
}
.custom-theme ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #8bc34a;
}
