.bordered-list {
  border: 1px solid #000;
  border-radius: 8px;
  display: inline-block;
  margin: 16px;
  overflow: hidden;
}

.example-with-options {
  display: flex;
}

.example-pane {
  flex: 1;
}

.options-pane {
  flex: 1;
  padding: 16px;
  background: #eeeeee;
}

.options-pane > material-checkbox ::ng-deep {
  margin-left: -3px;
}

.option-label {
  display: inline-flex;
  padding: 8px 0px;
  width: 50%;
}
