material-toggle {
  padding: 12px;
  width: 320px;
}

.theme-red ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #db4437;
}
.theme-red ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #db4437;
}

.theme-purple ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #9c27b0;
}
.theme-purple ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #9c27b0;
}

.custom-theme ::ng-deep material-toggle.themeable .material-toggle .tgl-btn {
  background-color: #cddc39;
}
.custom-theme ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-bar {
  background-color: #8bc34a;
}
.custom-theme ::ng-deep material-toggle.themeable .material-toggle.checked .tgl-btn {
  background-color: #8bc34a;
}

.flip-label ::ng-deep .material-toggle {
  flex-direction: row-reverse;
}
.flip-label ::ng-deep .material-toggle .tgl-lbl {
  padding-left: 8px;
}
