.limited-width {
  width: 160px;
}

::ng-deep .cyan material-checkbox.themeable .icon-container .icon.filled {
  color: #00bcd4;
}

::ng-deep .cyan material-checkbox .icon-container .ripple.filled {
  color: #00bcd4;
}

::ng-deep .pink material-checkbox.themeable .icon-container .icon.filled {
  color: #e91e63;
}

::ng-deep .pink material-checkbox .icon-container .ripple.filled {
  color: #e91e63;
}

::ng-deep .yellow material-checkbox.themeable .icon-container .icon.filled {
  color: #ffeb3b;
}

::ng-deep .yellow material-checkbox .icon-container .ripple.filled {
  color: #ffeb3b;
}
