::ng-deep .customize acx-scorecard .description {
  color: rgba(0, 0, 0, 0.54) !important;
}
::ng-deep .customize acx-scorecard.is-change-positive h2 {
  color: #0f9d58;
}
::ng-deep .customize acx-scorecard.is-change-negative h2 {
  color: #db4437;
}

::ng-deep .customize-description-color acx-scorecard .change-glyph {
  color: #4285f4;
}
::ng-deep .customize-description-color acx-scorecard:not(.selected).themeable .description {
  color: #ff9800;
}

::ng-deep .customize-positive-negative-colors acx-scorecard:not(.selected).themeable.is-change-positive .description {
  color: #3f51b5;
}
::ng-deep .customize-positive-negative-colors acx-scorecard:not(.selected).themeable.is-change-negative .description {
  color: #e91e63;
}

::ng-deep .customize-suggestion-color acx-scorecard .suggestion {
  color: #9c27b0;
}

::ng-deep .customize-suggestion-to-separate-line acx-scorecard .suggestion {
  display: block;
}

::ng-deep .vertically-align-scorecard-top acx-scorecard {
  vertical-align: top;
}

::ng-deep .vertically-align-scorecard-bottom acx-scorecard {
  vertical-align: bottom;
}

::ng-deep .description-with-min-height .description {
  display: block;
  min-height: 15px;
}

.custom-rule ::ng-deep acx-scorecard h3 {
  color: #4285f4;
}
.custom-rule ::ng-deep acx-scorecard h2 {
  color: #ff9800;
}

.vertical-scoreboard-container {
  height: 600px;
}

.injected-div {
  border: 1px solid #f4c7c3;
  margin: 3px 0;
  width: 100%;
}
