:host {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.limited-width {
  width: 160px;
}

.debug-info {
  background: #eeeeee;
}

.help-icon {
  margin: 0 4px;
}

material-checkbox.top {
  align-items: flex-start;
}

::ng-deep .custom-theme material-checkbox.themeable:not(.disabled) .icon-container .icon.filled, ::ng-deep .custom-theme material-checkbox:not(.disabled) .icon-container .ripple.filled {
  color: #009688;
}

.material-checkbox-no-left-margin {
  margin-left: -3px;
}
