:host ::ng-deep material-button[raised].red:not([disabled]) {
  background-color: #db4437;
}
:host ::ng-deep material-button[raised].red:not([disabled]):not([icon]):not([raised]):not(.xyzxyz):hover {
  background-color: #db4437;
}
:host ::ng-deep material-button[raised].red:not([disabled]) > .content {
  color: #fff;
}
:host ::ng-deep material-button[raised].red:not([disabled]):hover > .content {
  color: #fff;
}
:host ::ng-deep material-button:not([raised]).red:not([disabled]) > .content {
  color: #db4437;
}
:host ::ng-deep material-button:not([raised]).red:not([disabled]):hover > .content {
  color: #db4437;
}
