:host ::ng-deep material-button[raised].red:not([disabled]) {
  background-color: #db4437;
}
:host ::ng-deep material-button[raised].red:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-button:not([raised]).red:not([disabled]):not([icon]) {
  color: #db4437;
}
