.red-yes ::ng-deep .btn-yes[raised],
.red-yes ::ng-deep .btn-yes.btn:not([disabled]).highlighted[raised] {
  background-color: #db4437;
}

.red-no ::ng-deep .btn-no[raised] {
  background-color: #db4437;
}
.red-no ::ng-deep .btn-no {
  color: #fff;
}

.red-text-yes ::ng-deep .btn-yes {
  color: #db4437;
}

.red-text-no ::ng-deep .btn-no {
  color: #db4437;
}
