.example-with-options {
  display: flex;
}

.example-pane {
  flex: 1;
}
.example-pane material-auto-suggest-input {
  width: 200px;
}

.options-pane {
  flex: 1;
  padding: 16px;
  background: #eeeeee;
}
.options-pane material-checkbox {
  margin-left: 0;
}
.options-pane material-input {
  width: 136px;
  margin-right: 16px;
}
