:host {
  margin: 8px;
}
:host .demo-section {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
:host .demo-container,
:host .knob-container {
  margin: 8px;
  padding: 8px;
  max-width: 600px;
  display: flex;
  flex: 1;
  /*! @noflip */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
:host .demo-container .caption,
:host .knob-container .caption {
  font-size: 12px;
  font-weight: 400;
}
:host [row] {
  flex-direction: row;
}
:host [column] {
  flex-direction: column;
}
:host [flex] {
  display: flex;
  flex: 1;
}
:host [inline-flex] {
  display: inline-flex;
  flex: 1;
}

.demo-glyph {
  margin: 8px;
}

.source-popup {
  padding: 8px;
}

.dark-background {
  background: #424242;
  color: #fff;
}
