:host material-slider {
  display: inline-block;
  width: 400px;
}
:host ::ng-deep material-slider.custom-colors .knob-real,
:host ::ng-deep material-slider.custom-colors .is-dragging.knob-drag-shadow {
  background-color: #ff9800;
}
:host ::ng-deep material-slider.custom-colors .knob:focus .knob-hover-shadow,
:host ::ng-deep material-slider.custom-colors .knob:hover .knob-hover-shadow {
  background-color: rgba(255, 152, 0, 0.5);
}
:host ::ng-deep material-slider.custom-colors .left-track-container > .track {
  background-color: #c53929;
}
:host ::ng-deep material-slider.custom-colors .right-track-container > .track {
  background-color: #fdd835;
}
