:host ::ng-deep material-button.blue:not([disabled]) {
  background-color: #4285f4;
}
:host ::ng-deep material-button.blue:not([disabled]):not([icon]):not([raised]):not(.xyzxyz):hover {
  background-color: #4285f4;
}
:host ::ng-deep material-button.blue:not([disabled]) > .content {
  color: #fff;
}
:host ::ng-deep material-button.blue:not([disabled]):hover > .content {
  color: #fff;
}

.basic {
  height: 200px;
  padding: 8px;
}

.custom-header {
  background: #0f9d58;
  color: #fff;
  padding: 8px;
}

.custom-body {
  background: #e2f3eb;
  height: 1000px;
  padding: 8px;
  width: 200px;
}

.custom-footer {
  background: #097138;
  color: #fff;
  padding: 8px;
}

.limited-size {
  background: #eeeeee;
  height: 1000px;
  padding: 8px;
  width: 1000px;
}
