.dark ::ng-deep div.panel.themeable {
  background-color: #424242;
}
.dark ::ng-deep div.panel.themeable {
  color: #fff;
}
.dark ::ng-deep div.panel.themeable > header {
  color: rgba(255, 255, 255, 0.87);
}
.dark ::ng-deep div.panel.themeable > header p.secondary-text {
  color: rgba(255, 255, 255, 0.54);
}
.dark ::ng-deep div.panel.themeable material-icon.expand-button {
  color: rgba(255, 255, 255, 0.87);
}
.dark ::ng-deep div.panel.themeable > header > .header.closed:hover, .dark ::ng-deep div.panel.themeable > header > .header.closed:focus {
  background-color: #212121;
}
.dark ::ng-deep div.panel.themeable > header > .header.closed:hover, .dark ::ng-deep div.panel.themeable > header > .header.closed:focus {
  color: #fff;
}

.dense ::ng-deep div.panel.themeable .header, .dense ::ng-deep div.panel.themeable.open .header {
  min-height: 32px;
}
.dense ::ng-deep div.panel.themeable .action-buttons {
  padding: 8px 0;
}
.dense ::ng-deep div.panel.themeable .panel-name {
  margin: 8px 0;
  line-height: 16px;
}
.dense ::ng-deep div.panel.themeable .content-wrapper {
  margin: 0 24px 8px;
}

.reminder {
  color: #4285f4;
  margin-right: 4px;
  vertical-align: text-top;
}

.action {
  padding: 8px 0;
}

.flat-panels material-expansionpanel {
  width: 320px;
}

.independent-panels material-expansionpanel {
  width: 600px;
}

.custom-toolbelt-buttons ::ng-deep .btn-yes {
  color: #4285f4;
}

.custom-toolbelt-panel [toolbelt] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 24px;
}

.confirmation-dialog {
  height: 144px;
  text-align: center;
  width: 320px;
}
.confirmation-dialog h3 {
  font-size: 15px;
  font-weight: 400;
}
.confirmation-dialog material-yes-no-buttons {
  display: block;
}

.left-align-action-buttons ::ng-deep material-yes-no-buttons {
  flex-direction: row;
}
