:host {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
:host ::ng-deep material-button.red[raised]:not([disabled]) {
  background-color: #db4437;
}
:host ::ng-deep material-button.red[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-button.red:not([raised]):not([disabled]):not([icon]) {
  color: #db4437;
}
:host ::ng-deep material-button.blue[raised]:not([disabled]) {
  background-color: #4285f4;
}
:host ::ng-deep material-button.blue[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-button.blue:not([raised]):not([disabled]):not([icon]) {
  color: #4285f4;
}
:host ::ng-deep material-button.green[raised]:not([disabled]) {
  background-color: #0f9d58;
}
:host ::ng-deep material-button.green[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-button.green:not([raised]):not([disabled]):not([icon]) {
  color: #0f9d58;
}
:host ::ng-deep material-fab.red[raised]:not([disabled]) {
  background-color: #db4437;
}
:host ::ng-deep material-fab.red[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-fab.red:not([raised]):not([disabled]):not([icon]) {
  color: #db4437;
}
:host ::ng-deep material-fab.blue[raised]:not([disabled]) {
  background-color: #4285f4;
}
:host ::ng-deep material-fab.blue[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-fab.blue:not([raised]):not([disabled]):not([icon]) {
  color: #4285f4;
}
:host ::ng-deep material-fab.green[raised]:not([disabled]) {
  background-color: #0f9d58;
}
:host ::ng-deep material-fab.green[raised]:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep material-fab.green:not([raised]):not([disabled]):not([icon]) {
  color: #0f9d58;
}
:host ::ng-deep material-button.blue-icon[icon]:not([disabled]) {
  color: #4285f4;
}
:host ::ng-deep material-button.blue-icon[icon]:not([disabled]) > .content > material-icon,
:host ::ng-deep material-button.blue-icon[icon]:not([disabled]) > .content > glyph {
  color: #4285f4;
}
:host ::ng-deep material-button.raised-color-example[animated] {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
:host ::ng-deep material-button.raised-color-example[elevation="1"] {
  /*! @noflip */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example[elevation="2"] {
  /*! @noflip */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example[elevation="3"] {
  /*! @noflip */
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example[elevation="4"] {
  /*! @noflip */
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example[elevation="5"] {
  /*! @noflip */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example[elevation="6"] {
  /*! @noflip */
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep material-button.raised-color-example.acx-theme-dark {
  background-color: #4285f4;
}
:host ::ng-deep material-button.raised-color-example[disabled] {
  background: rgba(0, 0, 0, 0.12);
  box-shadow: none;
}
:host ::ng-deep material-button.raised-color-example[disabled].acx-theme-dark {
  background: rgba(255, 255, 255, 0.12);
}
:host ::ng-deep material-button.raised-color-example:not([disabled]) {
  background-color: #4285f4;
}
:host ::ng-deep material-button.raised-color-example:not([disabled]):not([icon]) {
  color: #fff;
}
:host ::ng-deep .raised-example[animated] {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
:host ::ng-deep .raised-example[elevation="1"] {
  /*! @noflip */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example[elevation="2"] {
  /*! @noflip */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example[elevation="3"] {
  /*! @noflip */
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example[elevation="4"] {
  /*! @noflip */
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example[elevation="5"] {
  /*! @noflip */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example[elevation="6"] {
  /*! @noflip */
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
:host ::ng-deep .raised-example.acx-theme-dark {
  background-color: #4285f4;
}
:host ::ng-deep .raised-example[disabled] {
  background: rgba(0, 0, 0, 0.12);
  box-shadow: none;
}
:host ::ng-deep .raised-example[disabled].acx-theme-dark {
  background: rgba(255, 255, 255, 0.12);
}
:host ::ng-deep .raised-example:not([disabled]) {
  background-color: transparent;
}
:host ::ng-deep .dense-example:not([icon]) {
  height: 32px;
  font-size: 13px;
}

material-button,
material-fab {
  font-size: 1;
}
material-button.no-mixin-red,
material-fab.no-mixin-red {
  background-color: #db4437;
  color: #fff;
}

material-button material-icon {
  color: #000;
}

h2 {
  color: #222;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  margin: 20px;
}

[card] {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  border-radius: 3px;
  margin-top: 8px;
  padding: 16px;
}

.dark-theme {
  color: #fff;
  background: #424242;
}

[flex] {
  justify-content: space-between;
}
