p {
  font-weight: bold;
}

div {
  margin-bottom: 32px;
}

material-spinner {
  margin-right: 8px;
}

.red {
  border-color: #db4437;
}

.yellow {
  border-color: #ffeb3b;
}

.green {
  border-color: #0f9d58;
}
